* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav {
    flex-direction: row;
    background-color: #E85D04;
    height: 5rem;
    display: flex;
    width: 100%;
}

h5 {
    font-size: x-large;
    color: whitesmoke;
}
.menu {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navoptions {
    margin: auto;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartcontainer {
    position: relative;
    background-color: #f27020;
    display: none;
    
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.botonCarrito {
    background-color: #E85D04;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 7px;
    outline: none;
    padding: 13px 23px;
    cursor: pointer;
    touch-action: manipulation;
}

#cartCounter {
    padding: 1rem;
}

.productInCart {
    display: flex;

}

.productInCart p {
    padding: 2rem;
}
section {
    display: flex;
    height: 900px;
    background-color: aqua;
}

.sidebar {
    background-color: #FAA307;
    width: 15%;
    height: auto;
}

#opciones-menu li {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 20px
}

.listelement {
    padding: 1rem;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
   
}

.card {
    background-color: #FFBA08; 
    width: 350px;
    height: 300px;
    margin-top: 3rem;
    padding: 3rem;
    margin-left: 3rem;
}

.imagecontainer{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pizzaimg {
    width: 100px;
    height: 60px;
}
.card-footer{
    flex-direction: column;    
    padding: 0rem 3rem;
}

.card-interaction {
    display: flex;
}


/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 7px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}